body{
    /*background-color: #E4F9F5;*/
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #40514E;
}

h1{
  margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 6rem;
line-height: 2;
color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.foot-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}


.top-container{
  position: relative;
  padding-top: 100px;
  margin-top: 0;
  background-color: #E4F9F5;
}
.middle-container{
margin: 100px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 40px;
}
.aqeel{
  line-height: 2;
  color: white;
}
.footer-link{
  color: #11999E;
  padding: 5px;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}

.top-cloud{
  position: absolute;
  right: 260px;
  top: 50px;


}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
hr{
  width: 5%;
  color: #EAF6F6;
  border-style:dotted none none none;
  border-width: 8px;
}
.contact {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #179797);
   background-image: -moz-linear-gradient(top, #66BFBF, #179797);
   background-image: -ms-linear-gradient(top, #66BFBF, #179797);
   background-image: -o-linear-gradient(top, #66BFBF, #179797);
   background-image: -webkit-gradient(to bottom, #66BFBF, #179797);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 16px;
   font-weight: 600;
   padding: 19px;
   -webkit-box-shadow: 1px 1px 6px 0 #000000;
   -moz-box-shadow: 1px 1px 6px 0 #000000;
   box-shadow: 1px 1px 6px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px;
}

.contact:hover {
   border: solid #337FED 0;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #66BFBF);
   background-image: -moz-linear-gradient(top, #1E62D0, #66BFBF);
   background-image: -ms-linear-gradient(top, #1E62D0, #66BFBF);
   background-image: -o-linear-gradient(top, #1E62D0, #66BFBF);
   background-image: -webkit-gradient(to bottom, #1E62D0, #66BFBF);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   text-decoration: none;
}
